@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Api de test para acortar direcciones web, basada en un longitud de 6 alfanuméricos ejm: http://me.li/XX6Y59 <a href="https://docs.microsoft.com/aspnet/core">escrita en ASP.NET Core</a>.</p>
</div>
